/* styles.module.css */

.body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px; 
  margin: 0 auto;
  padding: 20px; 
}

.h1 {
  color: #333;
}

.movieCardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 3fr));
  gap: 20px;
}
 
.movieCard {
  display: grid;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}

.movieTitle {
  color: #333;
  text-align: center;
}

.h2 {
  color: #333; 
  text-align: center;
}

.poster {
  padding: 20px;
  max-width: 35%;
  border-radius: 35px;
  height: auto;
  display: block;
  margin: 0 auto; 
}

.movieReleaseDate {
  color: #555;
}

.movieSummaryTitle {
  color: #333;
  text-align: center;
}

.movieDescription {
  color: #555;
}

.p {
  color: #555; 
}

/* Responsive Styles */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}
