/* styles.module.css */

.body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px; 
  margin: 0 auto;
  padding: 20px; 
  text-align: center;
}

.h1 {
  color: #333;
}


.movieTitle {
  color: #333;
  text-align: center;
}

.h2 {
  color: #333; 
  text-align: center;
}

.poster {
  max-width: 35%;
  border-radius: 10px;
  height: auto;
  margin-bottom: 10px;
  display: block;
  margin: 0 auto; 
}

.movieReleaseDate {
  color: #555;
}

.movieSummaryTitle {
  color: #333;
  text-align: center;
}

.movieDescription {
  color: #555;
}

.p {
  color: #555; 
}

/* Responsive Styles */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}
